/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
/*
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
body{margin:0;padding:0;}

html {
    background: #1d1f20;
}

body {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

hr {
    background-color: #2e3133;
    border: none;
}

label {
    color: #a7a7a7;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.rectangle {
    width: 500px;
    height: 350px;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

#particles-js {
    pointer-events: none;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    margin: 35px 0;
    display: flex;
}

.footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: relative;
    pointer-events: none;
}

.sub-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: relative;
    pointer-events: all;
}

.text-medium {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 4px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-animation: hue 10s infinite linear;
    z-index: 10;
    pointer-events: none;
}

.text-small {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 4px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-animation: hue 10s infinite linear;
    z-index: 10;
    pointer-events: none;
}

.text-tiny {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 4px;
    color: #a7a7a7;
    z-index: 10;
    pointer-events: none;
}

.text-mini {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: #a7a7a7;
    z-index: 10;
    pointer-events: none;
}

.sub-header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    margin: 73.5px 0;
    display: flex;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.box {
    width: 450px;
    height: 500px;
    background-color: #1d1f20;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.box-outline {
    width: 450px;
    height: 500px;
    border: 1px solid #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-animation: hue 10s infinite linear;
    border-radius: 5px;
    z-index: 20;
}

.options {
    margin-top: 20px;
}

button {
    border-radius: 5px;
    font-size: 1rem;
    height: 30px;
    margin-bottom : 60px;
    background-color: #1d1f20;
    border: 1px solid #333638;
    color: #a7a7a7;
    pointer-events: all;
    z-index: 25;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    pointer-events: all;
}


input {
    border-radius: 5px;
    height: 30px;
    background-color: #1d1f20;
    border: 1px solid #333638;
    color: #a7a7a7;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    width: 250px;
    pointer-events: all;
}

input:focus {
    outline: none;
    border: 1px solid #333638;
}

#message-box {display:inline-block;margin-right:10px;} 
#send-button {display:inline-block;} 

.input-group {
    display: flex;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #1d1f20;
    height: 270px;
    width: 300px;
    border: 1px solid #333638;
    overflow: auto;
    border-radius: 4px;
}

#exit {
    position: absolute;
    top: 3.5%;
    left: 5%;
    background: #1d1f20;
    border: 0px solid #333638;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: none;
    margin: none;
    porinter-events: all;
}

*/